<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>An introductory website</title>
	<link href="css/styles.css" rel="stylesheet">
</head>
<body>
	<header style="text-align: center;">
		<img src="images/online shop.png" alt="our-logo">
		<nav>
			<ul>
				<li><a href="/"><h51>Home</h51></a></li>
				<li><a href="#about"><h51>About</h51></a></li>
				<li><a href="#contact"><h51>Contact</h51></a></li>
			</ul>
		</nav>
	</header>
	<section class="menu">
		<h50 style="color: #1e239f; font-size: x-large;">Frequently asked questions</h50>
		<img src="images/faq.jpg"alt="faq" style="float: right; margin: 0 0 1em 1em;padding-bottom: 30px;">
		<p style="padding-top: 30px;">we at our store .</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eius obcaecati tempora ipsam adipisci! Ducimus optio architecto harum non. Enim quia odio hic pariatur consequuntur deleniti ratione beatae. Voluptatem officia tenetur voluptatum blanditiis. Rerum nulla corporis animi. Debitis obcaecati consequatur, quo aspernatur autem iste necessitatibus sint, recusandae officia laboriosam magni quidem dicta quasi. Nisi ipsa corrupti exercitationem eos quisquam voluptates.</p>
		
		<button class="accordion">What are your shipping options?</button>
		<div class="panel" style="box-sizing: content-box;">
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quos amet sunt possimus facilis commodi suscipit soluta omnis, aspernatur vitae molestias tempora cumque libero doloribus ab exercitationem ex consequuntur nam.</p>
		</div>

		<button class="accordion">What is your return policy?</button>
		<div class="panel">
		  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque incidunt qui quas nulla placeat! Asperiores accusantium voluptatum esse numquam porro nisi iure voluptates officiis nulla tempora? Veniam tempore, autem voluptas distinctio totam quis quidem. Odit sint doloribus veritatis magnam nihil?</p>
		</div>

		<button class="accordion">Does your products have warranty?</button>
		<div class="panel">
		  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo explicabo, aperiam inventore suscipit nisi accusantium nesciunt. Harum similique deleniti eum cupiditate ut dolor sapiente maiores quis delectus aperiam reprehenderit, non voluptatibus soluta sequi rerum neque sed provident nemo. Vel, perspiciatis tempora odit quod distinctio eius iusto harum dignissimos mollitia. Ipsam..</p>
		</div>

		<button class="accordion">what are your payment options?</button>
		<div class="panel">
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita!.</p>
		</div>

		<button class="accordion">How can I Track my order?</button>
		<div class="panel">
		  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptatem, hic excepturi distinctio consequatur, nesciunt vel natus nemo eaque quae consequuntur laborum. Labore, ex pariatur..</p>
		</div>
	</div>
<script src="js/accordion.js"></script>
</body>

</html>